<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>Login</title>
    </head>
    <body>
        <div class="container center">
            <h1>Login</h1>
            <br>
            <form action="login" method="post">
                <input class="form form-control resize" type="text" placeholder="Prenom" name="prenom">
                <br>
                <input class="form form-control resize" type="password" placeholder="Mot de passe" name="mdp">
                <br>
                <br>
                <input class="btn btn-success resize" type="submit" value="Connection"> 
            </form>
        </div>
    </body>
</html>