<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <br>
        <form action="register" method="post">
            <input type="text" placeholder="Prenom" name="prenom">
            <br>
            <input type="password" placeholder="Mot de passe" name="mdp">
            <br>
            <input type="password" placeholder="Confirmation mot de passe" name="mdp_confirmation">
            <br>
            <br>
            <input type="submit" value="S'inscrire"> 
        </form>
    </body>
</html>